/* Estilos generales del cuerpo de la página */
html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del pie de página */
footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para secciones genéricas */
.section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Estilos para el mapa (si lo hubiera) */
#map {
    height: 400px;
}
/* Eliminamos el margen superior del contenido principal */
.contenido-principal {
    margin-top: 0;
}
/* Estilos de la barra de navegación (navbar) */
.navbar {
    background-color: transparent !important;
    backdrop-filter: blur(5px);
    /* Eliminamos position: fixed */
    margin-top: auto; /* Empujamos el navbar hacia abajo */
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
}
.navbar-brand {
    margin-left: 0;
}

.navbar-brand img {
    height: 350px; /* O el valor que desees */
    width: auto;
    object-fit: contain;
}

.navbar-nav {
    margin-left: 100px; /* Ajusta este valor según el desplazamiento deseado */
    margin-right: auto;
}

.nav-link {
    color: white !important;
    font-weight: bold;
}

/* Estilos del encabezado (header) */
header {
    background: url('imagenes/logo morad 2.jpg') no-repeat center center;
    background-position: center top;
    background-size: cover;
    padding-bottom: 20px; /* Ajusta este valor si es necesario */
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1, h2, p {
    color: #fff;
}

/* Estilos para un div animado */
#animatedDiv {
    background-color: transparent;
    color: #fff;
    padding: 2.5vw;
    border-radius: 20px;
    font-family: 'oswald', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 2.2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition-property: transform, padding, box-shadow;
    perspective: 1000px;
    position: relative;
    max-width: 100%;
    margin-top: 10vh;
}

/* Estilos para listas desordenadas */
.list-unstyled {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-inline-item {
    margin: 0.25vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    white-space: nowrap;
}

.list-inline-item:hover {
    transform: scale(1.05) rotateY(2deg);
}

.list-inline-item:hover span {
    transform: translateY(-0.5px);
}

#animatedDiv:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.1);
}

.list-inline-item span {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

.list-inline-item:hover {
    color: #ff4d00;
}

/* Estilos adicionales */
body {
    background-color: #111;
    font-family: Arial, sans-serif;
}

.section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #222;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-info h2 {
    margin-bottom: 20px;
}

.location-info .address {
    margin-bottom: 20px;
}

.scrolled {
    background-color: #555;
}

/* Estilos para los enlaces de servicios, sobre nosotros y contacto */
.services-about-contact {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.services-about-contact a {
    color: white;
    text-decoration: none;
}

/* Estilos para los elementos del menú de navegación */
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Efecto al pasar el ratón sobre los enlaces del menú */
.navbar-nav .nav-link:hover {
    transform: scale(1.05) rotateY(2deg);
    color: #37ff00;
}

/* Agrega margen superior al contenido principal */
.contenido-principal {
    margin-top: 35vh; /* Ajusta este valor para que coincida con la altura del header y el navbar */
}